*{
    margin: 0;
    padding: 0;
}

nav{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272822;
    color: white;
    height: 72px;
}
nav .btn{
    position: absolute;
    left:580px; top:17px;
    height:40px;
    width:40px;
}

.content{
    font-family: 'Potta One', cursive;
}

.container, .containers{
    /* background-color: red; */
    width: 50vw;
    padding: 32px 0;
    margin: auto;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: bold;
}
.containers ul{
    color: whitesmoke;
    list-style-type: none;
    margin-top: 50px;
}
.containers li{
    float: right;
    margin-right:100px;
    margin-left: 50px;
    margin-bottom: 50px;
    height:80px;
    width: 300px;
    text-align: center;
    line-height: 80px;
    background-color: #272822;
    border-radius: 10px;
}
.containers a{
    text-decoration: none;
    color: whitesmoke;
}

.logo{
    padding: 0 13px;
}

.logo img{
    width: 32px;
}

.toolbar-item button{
    cursor: pointer !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
    padding: 5px 14px !important;
}